.video-wrapper {
  max-width: none;
  width: 100vw;
  padding: 0 2vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;

  .video-replay-modal {
    width: 100%;
    background-color: #fff;
    padding: 0 16px;
    padding-bottom: 16px;
    position: relative;

    .header {
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .title {
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
      }

      .title::before {
        content: "";
        border-left: 4px solid #0170fe;
        margin-right: 6px;
      }
    }

    .video-replay-content {
      height: 84vh;
    }

    .actions {
      display: inline-flex;
      gap: 12px;

      svg {
        font-size: 22px;
        cursor: pointer;

        &:hover {
          color: #1890ff;
        }
      }
    }
  }

}


@media only screen and (min-width: 375px) and (max-width: 1000px) {
  .video-replay-modal {
    height: auto;
  }
}